*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches
/.idea/gradle.xml
/.idea/dictionaries
/.idea/misc.xml
/.idea/inspectionProfiles
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
